.login {
  width: 500px;
  height: 505px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  overflow: hidden;
  margin: 0 auto;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  backdrop-filter: blur(30px);
  margin-top: 160px;
}
#login-form {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}
p.form-title {
  color: white;
  font-size: 45px;
  line-height: 1;
}

/* input chỗ password */
#login-form .ant-input-affix-wrapper {
  padding: 12px 15px;
  background: transparent;
  border-radius: 10px;
}
#login-form_password {
  background: transparent;
}

:where(.css-dev-only-do-not-override-6j9yrn).ant-input {
  color: white;
  font-size: 15px;
}
/* input chỗ email */
#login-form_username {
  height: 48px;
  background: transparent;
  border-radius: 10px;
}

.login-form-button {
  width: 100%;
  font-size: 22px;
  padding-bottom: 43px;
  border-radius: 26px;
  color: #454545;
  background: transparent;
  border-color: white;
}

.login-email::placeholder {
  color: white;
}

.PPP {
  font-size: 15px;
  padding-top: 3px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
}
.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
  text-align: left;
}
/* .login__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

} */

body {
  background: url("https://res.cloudinary.com/dvm8fnczy/image/upload/v1702632142/gwncnyuje3r2uvopbp64.png")
    no-repeat;
  background-size: 98.3% 77vh;
  background-position: center top;
}
