.project-items{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.project-owner{
    display: flex;
    flex-direction: row;
}
.project-title{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 10px;
}
.status-filter{
    display: flex;
    justify-content: space-between;
}
