.manager-detail {
  padding: 20px;
  text-align: center;
}

.manager-detail img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 5px solid #6db9ef;
}

.manager-infor {
  margin: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 8px;
}

.project-detail {
  padding: 20px;
}

.project-infor {
  margin: 20px;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 8px;
}

.projectDetail-Content .ant-form-item {
  margin-bottom: 16px;
}

.projectDetail-Content .ant-row {
  margin-bottom: 16px;
  justify-content: center;
}

.projectDetail-Content .ant-col {
  padding: 0 8px;
}

.projectDetail-Content .ant-form {
  max-width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px; /* Khoảng cách từ cột thông tin dự án đến nút Button */
}

.custom-timeline .time-line-header-container {
  width: 150px;
  position: relative;
}

.custom-timeline {
  .time-line-header-container {
    width: 150px;
    position: relative;
    .time-line-header-title {
      color: #fff;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }

  .rct-dateHeader {
    text-transform: capitalize;
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px; /* Khoảng cách từ cột thông tin dự án đến nút Button */
}

.react-calendar-timeline {
  width: 100% !important;
}
.langFrame-container,
.technology-container {
  display: flex;
  flex-wrap: wrap;
}

.lang-frame-item,
.technology-item {
  margin-right: 8px;
  padding: 8px;
  background-color: #dbf6e5;
  border-radius: 4px;
  color: #37a171;
  font-weight: 600;
}
textarea:where(.css-dev-only-do-not-override-6j9yrn).ant-input {
  color: black;
}
